@use "helper" as *;

$border-widths: (
  md: rem(1px),
);

$border-colors: (
  divider: (
    light: "neutral-500" 0.25,
    dark: "neutral-000" 0.25,
  ),
);

$borders: (
  divider: (
    width: "md",
    style: "solid",
    color: "divider",
  ),
);
