@use "helper" as *;
@use "page" as *;

// Page padding
$padding-page: (
  inline-start: fluid(16px, 64px, "small", "medium"),
  inline-end: fluid(16px, 64px, "small", "medium"),
  block-start: bp(32px, 64px, 64px),
  block-end: bp(32px, 64px, 64px),
);

// Section padding
$padding-section: ();

// Container padding
$padding-container: (
  details-block: bp(48px, 112px, 80px),
);

// Container spacing
$spacer-container: (
  sm: rem(12px),
  md: rem(16px),
  lg: bp(48px, 112px, 80px),
  xl: bp(64px, 80px, 80px),
);
